body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 8rem;
}

.input-field {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.login-container {
  width: 70vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 50px 100px rgba(0, 81, 255, 0.512);
  margin: 0px 190px;
}

.login-title {
  margin-bottom: 7rem;
  text-align: center;
}

.form-header::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #63b9ff;
  margin: 20px auto;
  border-radius: 10px;
}
